<div class="card mt-1 position-relative" *ngFor="let s of shopping.shoppingCarts let i = index">
    <div class="row ">
        <div class="col-2 text-center card-image-div">
            <img class="card-image" [src]="s.coverImageUrl">
        </div>
        <div class="col-lg-4 col-10">
            <div class="form-group">
                
                <b>{{'bookName'|translate}}</b>: {{ s.title}}
            </div>
            <div class="form-group">
                <b>{{'author'|translate}} </b>: {{ s.author}}
            </div>
            <div class="form-group">
                <b>{{'summary'|translate}}</b>: {{ s.summary}}
            </div>
        </div>
        <div class="col-lg-3 col-12">
            <div>
                <button class="btn btn-danger" (click)="shopping.changeBookQuantityInShoppingCart(s.id,s.quantity-1)">-</button>
                <p class="alert alert-warning" [innerHtml]="s.quantity"></p>
                <button class="btn btn-success" (click)="shopping.changeBookQuantityInShoppingCart(s.id,s.quantity+1)">+</button>
            </div>
        </div>
        <div class="col-lg-3 col-12 text-center d-flex justify-content-center" style="flex-direction: column;">
            <h5 *ngIf="language=='tr'">{{s.price.value| trCurrency}} {{s.price.currency}}</h5>
            <h5 *ngIf="language!='tr'">{{s.price.value| currency:'':'':'1.2-2' }} {{s.price.currency}}</h5>
        </div>
    </div>
    <i (click)="shopping.removeByIndex(i)" class="fa fa-trash trash"></i>
</div>